<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToastForIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04C2EF0D1BB237DC00CADC8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C2EF261BB237DD00CADC8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C2EF311BB237DD00CADC8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
